/*Possible style colors #0059B2, #CACAB6, #CACACA or #f2f2ed, #7BAD09, #46B709, #86F993, #5DAD66, #ffff4c, #BF0000 */

/* right side align */
.rightAlign {
    text-align: right;   
}

/* left side align */
.leftAlign {
    text-align:left;   
}

/* center alignment*/
.centerAlign {
    text-align: center;
}

/*Navigation/Top half section background and text color  */
.navSection {
    background-color: #0059B2;
    color: #CACACA;
    font-size: 110%;
    min-height: 100%;
}

/*change the colors of the navbar to the NavSection colors*/
.navBackgroundColorToNavSection {
    background-color: #0059B2;
}

/*change the color of the link inside the navbar with NavSection colors*/
.navBackgroundColorToNavSection a {
    color:  #CACACA;
    background-color: #0059B2;
}

/*change background color of navbar toolbar's ul link to NavSection background colors and green text color */
.navBackgroundColorToNavSection ul a:hover {
    background-color: #0059B2;
    color: #0059B2; 
}


/* Change background color of navbar toolbar links when it is open or focused */
.navBackgroundColorToNavSection .open>a:focus{
    background-color: #0059B2;
}

/*change background color of navbar toolbar links after its been visited.*/
.navBackgroundColorToNavSection ul a:visited {
    background-color: #0059B2
}


/*change the color of the links (List of Comp. Issues and etc.) inside li inside the navbar with NavSection colors*/
.navBackgroundColorToNavSection li a   {
    background-color: #0059B2;
    color: #CACACA;
}

/*change the color of the ToolBar Title and background colors of the ul and li inside the navbar with NavSection colors*/
.navBackgroundColorToNavSection li ul  {
    background-color: #0059B2;
    color: #CACACA;
}

/*css style for the compliance topic section*/
.complianceSection{
    background-color: #CACACA;
    color: #0059B2;    
    min-height: 100%;
}

/*change the colors of the navbar to the compliance section colors*/
.navBackgroundColorToComplianceSection {
    background-color: #CACACA;
    color: #0059B2;
}

/*change the color of the links (app Title and toolbar cog) inside the navbar with Compliance section colors*/
.navBackgroundColorToComplianceSection a {
    color: #0059B2;
}

/*change the color of the links (List of Comp. Issues and etc.) inside li inside the navbar with Compliance section colors*/
.navBackgroundColorToComplianceSection li a   {
    background-color: #CACACA;
    color: #0059B2;
}

/*change the color of the ToolBar Title and background colors of the ul and li inside the navbar with Compliance section colors*/
.navBackgroundColorToComplianceSection li ul  {
    background-color: #CACACA;
    color: #0059B2;
}

/*change background color of navbar toolbar's ul link to Compliance section background colors and green text color */
.navBackgroundColorToComplianceSection ul a:hover {
    background-color: #CACACA;
    color: #0059B2; 
}


/* Change background color of navbar toolbar links when it is open or focused to Compliance section background colors */
.navBackgroundColorToComplianceSection .open>a:focus{
    background-color: #CACACA;
}

/*change background color of navbar toolbar links after its been visited to Compliance section background colors.*/
.navBackgroundColorToComplianceSection ul a:visited {
    background-color: #CACACA
}

/*Not sure how, but is crucial to eliminating the "body" margins */
body { overflow: hidden }

/*css style for compliance buttons*/
.complianceButtons {
    background-color: #0059B2;
    color: #CACACA;
    margin-bottom: 5%;     
}

/*css style for skip action buttons*/
.yellow {
    background-color: #FFEF7F;
    color: navy;
    font-weight: bolder;
}

/*css style for complete action buttons*/
.green {
    background-color: #5DAD66;
    color: navy;
    font-weight: bolder;
}

/*pale red color for incomplete status*/
.incompleteColor {
    color: orangered;
}

/*pale green color for complete status*/
.completeColor {
    color: #5DAD66;
}

/*pale yellow color for skip status*/
.skipColor {
    color:#FFEF7F;
}


/*transform navigation open button into a circle*/
.btn-circle {
 border-radius: 50%;
}

/*navigation buttons size and text color */
.complianceChkboxSize {
    font-size: 200%;
}


/*chang color of search icon*/
.searchIcon {
    color: navy;
}

/*controls the size of the navbar cog*/
.cogIconSize {
    font-size: 20px;
}

/*change text color to blue*/
.blue {
    color: navy;
}

/*change compliance issues on List.html to yellow*/
.complianceIssuesColor {
    color: #FFEF7F;
}

/*increase the size of the checkbox. got tip from https://www.sitepoint.com/community/t/how-to-increase-the-checkbox-size/7856/2 */
input[type='checkbox'] {
    width: 2vh;
    height: 2vh;
}


/*disable the navigation Div*/
/*tips from https://scotch.io/tutorials/the-many-ways-to-use-ngclass*/
/*answer at https://stackoverflow.com/questions/25561144/disabling-an-entire-div-in-angularjs*/
.is-disabled {
    
    opacity: .3; /*affects the transpancy. 0 is ghost, .5 is halfway, 1 is good*/
    pointer-events: none;/*can not use mouse click*/
}

/*alternate background color between shades (B8E5E5) of light blue for user data  */
.alternatingRows:nth-child(even) {
  background-color: #007FFE ;
} 

/* unvisited link */
a {
    color: #CACACA;
}

