/*Possible style colors #0059B2, #CACAB6, #CACACA or #f2f2ed, #7BAD09, #46B709, #86F993, #5DAD66, #ffff4c, #BF0000 */

/* right side align */
.rightAlign {
    text-align: right;   
}

/* left side align */
.leftAlign {
    text-align:left;   
}

/* center alignment*/
.centerAlign {
    text-align: center;
}

/*Navigation/Top half section background and text color  */
.navSection {
    background-color: #0059B2;
    color: #CACACA;
    font-size: 110%
}

/*css style for the compliance topic section*/
.complianceSection{
    background-color: #CACACA;
    color: #0059B2;
}

/*css style for compliance buttons*/
.complianceButtons {
    background-color: #0059B2;
    color: #CACACA;
}

/*css style for skip action buttons*/
.yellow {
    background-color: #FFEF7F;
    color: navy;
    font-weight: bolder;
}

/*css style for complete action buttons*/
.green {
    background-color: #5DAD66;
    color: navy;
    font-weight: bolder;
}

/*pale red color for incomplete status*/
.incompleteColor {
    color: orangered;
}

/*pale green color for complete status*/
.completeColor {
    color: #5DAD66;
}

/*pale yellow color for skip status*/
.skipColor {
    color:#FFEF7F;
}



/*transform navigation open button into a circle*/
.btn-circle {
 border-radius: 50%;
}

/*navigation buttons size and text color */
.complianceChkboxSize {
    font-size: 200%;
}


/*chang color of search icon*/
.searchIcon {
    color: navy;
}

/*change text color to blue*/
.blue {
    color: navy;
}
/*increase the size of the checkbox. got tip from https://www.sitepoint.com/community/t/how-to-increase-the-checkbox-size/7856/2 */
input[type='checkbox'] {
    width: 4%;
    height: 4%;
}

/*disable the navigation Div*/
/*tips from https://scotch.io/tutorials/the-many-ways-to-use-ngclass*/
/*answer at https://stackoverflow.com/questions/25561144/disabling-an-entire-div-in-angularjs*/
.is-disabled {
    
    opacity: .3; /*affects the transpancy. 0 is ghost, .5 is halfway, 1 is good*/
    pointer-events: none;/*can not use mouse click*/
}

/*alternate background color between shades (B8E5E5) of light blue for user data  */
.alternatingRows:nth-child(even) {
  background-color: #007FFE ;
} 

/* unvisited link */
a {
    color: #CACACA;
}





