<div class="row" ng-controller="navController">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Click a button to Save and Continue</h3>
        <div class="row">            

            <!--Display the button navigate forward to the next slot machine-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">   
                <button type="button" class="btn btn-md" ng-click="">Skip and Continue</button>    
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">      
                <button type="button" class="btn btn-md" ng-click="saveCompleted()">Save and Continue</button>    
            </div>
            <!--Display the button navigate forward to the next slot machine-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">    
                <button type="button" class="btn btn-md" ng-click="">Compile &amp; Export Report</button>    
            </div>
            <!--Display the button navigate forward to the next slot machine-->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">   
                <button type="button" class="btn btn-md" ng-click="nextSlotMachine()">List of Issues Found</button>    
            </div>            
        </div>
        <p>{{tracker[0].mealBook[0]}} {{tracker[0].serialNumber}}</p>
        <p>{{tickle}} {{find.location}}</p>
        <p>{{hope}}</p>
    </div>    
</div><!--end of Nav Page-->