<div class="row navSection" ng-controller="listController">
    
    <!--Sets the page to the size of the view-port -->
    <!--Left-side view-port -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    
    <!--inner view-port -->
    <div class="col-xs-10  col-sm-10 col-md-10 col-lg-10">
        <!--Title of Page -->
        <h1>List of Slot Machines with Compliance Violations</h1>
        <!-- Start of each slot machine row of information -->
        <div class="row alternatingRows" ng-repeat="slot in compliance">
            <!--Left side of Row. Slot machine details -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <!--Title of Serial Number -->
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    Serial Number
                </div>
                <!--Serial Number Data -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{slot.serialNumber}}
                </div>
                <!--Title of Number of Issues -->
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    Number of Issues Found
                </div>
                <!--Number of Issues Data -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{slot.numberOfIssues}}
                </div>
                <!--Title of Slot Machine Status -->
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    Status of Slot Machine
                </div>
                <!--Slot Machine Data -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{slot.completed}}
                </div>
                <br>
            </div><!--End of left side of Slot Machine row -->
            <!--Right Side of row. Compliance issues found -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="row" ng-if="slot.mealBook.length >= 1" ng-repeat="m in slot.mealBook">
                    {{m}}
                </div>
                <div class="row" ng-if="slot.button.length >= 1" ng-repeat="b in slot.button">
                    {{b}}
                </div>
                <div class="row" ng-if="slot.reels.length >= 1" ng-repeat="r in slot.reels">
                    {{r}}
                </div>
                <div class="row" ng-if="slot.software.length >= 1" ng-repeat="s in slot.software">
                    {{s}}
                </div>
                <div class="row" ng-if="slot.lights.length >= 1" ng-repeat="l in slot.lights">
                    {{l}}
                </div>
                <div class="row" ng-if="slot.touchscreen.length >= 1" ng-repeat="t in slot.touchscreen">
                    {{t}}
                </div>
                <div class="row" ng-if="slot.locks.length >= 1" ng-repeat="o in slot.locks">
                    {{o}}
                </div>                  
            </div>
            <br>
        </div><!--End of Slot Machine row of information -->
        <br>
        <div class="row centerAlign"><button type="button" class="btn btn-lg green" ui-sref="nav">Done</button></div>
        
    </div><!--end of inner view-port -->
    
    <!--right-side view-port -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
</div><!--end of button Page-->